name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - dev

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install Dependencies
        run: npm ci

      - name: Create .env file
        run: |
          echo "EXPO_PUBLIC_GOOGLE_AI_KEY=${{ secrets.EXPO_PUBLIC_GOOGLE_AI_KEY }}" >> .env
          echo "EXPO_PUBLIC_STRAVA_CLIENT_ID=${{ secrets.EXPO_PUBLIC_STRAVA_CLIENT_ID }}" >> .env
          echo "EXPO_PUBLIC_STRAVA_CLIENT_SECRET=${{ secrets.EXPO_PUBLIC_STRAVA_CLIENT_SECRET }}" >> .env
          echo "EXPO_PUBLIC_FIREBASE_API_KEY=${{ secrets.EXPO_PUBLIC_FIREBASE_API_KEY }}" >> .env
          echo "EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=${{ secrets.EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN }}" >> .env
          echo "EXPO_PUBLIC_FIREBASE_PROJECT_ID=${{ secrets.EXPO_PUBLIC_FIREBASE_PROJECT_ID }}" >> .env
          echo "EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=${{ secrets.EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET }}" >> .env
          echo "EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=${{ secrets.EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID }}" >> .env
          echo "EXPO_PUBLIC_FIREBASE_APP_ID=${{ secrets.EXPO_PUBLIC_FIREBASE_APP_ID }}" >> .env

      - name: Build Web App
        run: npx expo export -p web

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_MYFITNESSAPP_D8E0D }}"
          channelId: live
          projectId: myfitnessapp-d8e0d
